/*Configuración de css general */
* {
  margin: 0;
  padding: 0;
}

/*Aplicación de cambios a body */
body {
  background-color: #FFEEDB;
  background-image: url("../imagenes/waffles-g952964b44_1280.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*Aplicación de cambios con css grid, para estructurar
  los elementos de la página */
.contenedor {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 12% 28% 28% 28% 4%;
}

/*
  Modificacion de contenido

  En esta parte se modifica todo el contenido de la página  en general
  basandose en css grid.
*/

header {
  background-color:#FFD8CC;
  height: 100%;
  grid-row: 1;
  grid-column: span 2;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titulo {
  float: left;
}

h1 {
  color: #0A1D37;
}

nav {
  float: right;
}

ul {
  width: 100%;
  text-align: right;
}

li {
  display: inline-block;
  margin: 10px;
}

a {
  color: #0A1D37;
  text-decoration: none;
  font-weight: bolder;
  
}

.formulario1 {
  background-color: rgb(255, 238, 219, 0.5);
  width: 450px;
  height: 310px;
  margin: auto;

  grid-row-start: 2;
  grid-row: span 3;
  grid-column: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario2 {
  background-color: rgb(255, 238, 219, 0.5);
  width: 450px;
  height: 310px;
  margin: auto;

  grid-row-start: 2;
  grid-row: span 3;
  grid-column: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Estilos de pie de página*/

footer {
  grid-row: 5;
  grid-column: span 2;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}



.final {
  color: #0A1D37;
  font-size: 15px;
}