/*Configuración de css general */
* {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

/*Aplicación de cambios a body */
body {
  background-color: #FFEEDB;
}

/*Aplicación de cambios con css grid, para estructurar
  los elementos de la página */
.contenedor {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1lrf);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "nav nav nav"
                        "header header header"
                        "section1 section1 section1"
                        "section2 section2 section2"
                        "contacto contacto contacto"
                        "footer footer footer";
}

/*
  Modificacion de contenido

  En esta parte se modifica todo el contenido de la página  en general
  basandose en css grid.
*/
nav {
  width: 100%;
  grid-area: nav;
  position: fixed;
  text-align: center;
}

ul {
  width: 100%;
}

li {
  display: inline-block;
  margin-right: 40px;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: #0A1D37;
  font-weight: bolder;
}

header {
  width: 100%;
  grid-area: header;
  height: 600px;
}

.fondo {
  position:absolute;
  width: 1800px;
  height: 600px;
  z-index: -1;
  margin-left: 40px;
}

.titulo {
  background-color:rgb(255, 189, 155,0.3);
  text-align: center;
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 100px;
}

h1 {
  font-size: 50px;
  color:#0A1D37;
}

.subtitulo {
  color: #11243f;
}

.section1 {
  grid-area: section1;
  margin-right: 50px;
  height: 500px;
}

.s1 {
  margin-top: 50px;
  height: 200px;
  background-color:rgb(255, 216, 204);
  margin-left: 600px;
  margin-right: 20px;
  border-radius: 10px;
  border: #0A1D37 2px solid;
}

.titulo2 {
  width: 100%;
  text-align: center;
  font-size: 50px;
}

.pastel_descripcion {
  text-align: justify;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

.imag1 {
  width: 500px;
  float: left;
  margin-left: 40px;
}

.img1 {
  width: 500px;
  border-radius: 10px;
  border: #0A1D37 2px solid;
}
.section2 {
  grid-area: section2;
  margin-right: 50px;
  height: 500px;
}

.s2 {
  margin-top: 50px;
  height: 200px;
  background-color:rgb(255, 216, 204);
  margin-left: 600px;
  margin-right: 20px;
  border-radius: 10px;
  border: #0A1D37 2px solid;
}

.titulo3 {
  width: 100%;
  text-align: center;
  font-size: 50px;
}

.tiramisu_descripcion {
  text-align: justify;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

.imag2 {
  width: 500px;
  float: left;
  margin-left: 40px;
}

.img2 {
  width: 500px;
  border-radius: 10px;
  border: #0A1D37 2px solid;
}
.contacto {
  grid-area: contacto;
  width: 100%;
  margin-left: 170px;
}

.sobre {
  float: left;
  margin-left: 50px;
}

.contact {
  margin-left: 600px;
}

.sobre2 {
  font-size: 30px;
  text-align: center;
}
.info {
  font-size: 30px;
  text-align: center;
}

.infoimg {
  width: 100%;
}

.llamada {
  text-align: center;
}

.sobreimg {
  text-align: center;
  margin-left: 170px;
  
}

/*Estilos de pie de página*/

footer {
  grid-area: footer;
  text-align: center;
  font-size: 10px;
  color: #0A1D37;
}

.final{
  margin-top: 30px;
}